.chart-bar__inner {
  border: 1px solid black;
  width: 30px;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chart-bar {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.chart-bar__fill {
  background-color: #3c4048;
  transition: all 0.5s ease-in-out;
}

.chart-bar__label {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}
