.expense-item__date {
  display: flex;
  width: 70px;
  padding: 5px 15px 10px 15px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: larger;
  margin: 20px 15px 20px 0;
}

.expense-item__date_day,
.expense-item__date_month {
  font-weight: bold;
}
